.m-data-list {
    &__item {
        border-top: 1px solid $border-color-for-controls;
        margin-bottom: 1em;

        &:last-child {
            // Add some space between items, don't add
            // any space to the last item. This also helps
            // when the data-list contains only one element.
            margin-bottom: 0;
        }

        &__field {
            border: 1px solid $border-color-for-controls;
            border-top: none;

            display: flex;
            flex-direction: row;

            &__label {
                // Center alignment is needed for cases where
                // label and data have different heights.
                // That way, data fills up just enough space to fit
                // itself and label adjusts its position.
                display: flex;
                align-items: center;

                flex-shrink: 0;

                width: 7em;
                overflow: auto;
                border-right: 1px solid $border-color-for-controls;
                padding: 0.4em;
            }

            &__value {
                overflow: auto;
                padding: 0.4em;
            }
        }

        &__actions {
            display: flex;
            justify-content: flex-end;
            // Left/right padding is not needed because we
            // want action elements to be aligned with
            // the fields.
            padding: 0.4em 0;
        }
    }
}
