@import "../variables.scss";

@mixin visually-hidden() {
    border: 0px;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    width: 1px;
}

@mixin base-input() {
    background-color: $primary-text-background-color;

    border-radius: 5px;
    border: 1px solid $border-color-for-controls;

    font-size: 1em;
    font-family: inherit;

    // Subtract left and right padding
    width: calc(#{$field-width} - 1em);

    &:disabled {
        cursor: not-allowed;
    }
}

$field-width: 20em;

.m-field {
    width: $field-width;

    &__input {
        @include base-input();

        padding: 0 0.5em;
        height: 2em;
    }

    &__long-text-input {
        @include base-input();

        resize: vertical;

        padding: 0.5em;
        height: 10em;
    }

    &__label {
    }

    &__label--hidden {
        @include visually-hidden();
    }
}
