@import "../variables.scss";

@mixin visually-hidden() {
    border: 0px;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    width: 1px;
}

$field-width: 14em;

.m-field {
    width: $field-width;

    &__input {
        // Overriding global styles from main stylesheet.
        height: inherit;

        background-color: $primary-text-background-color;

        height: 2em;

        border-radius: 5px;
        border: 1px solid $border-color-for-controls;

        font-size: 1em;
        font-family: inherit;

        padding: 0 0.5em;

        // Subtract left and right padding
        width: calc(#{$field-width} - 1em);

        &:disabled {
            cursor: not-allowed;
        }
    }

    &__label {
    }

    &__label--hidden {
        @include visually-hidden();
    }
}
