@mixin base-modal-content($width, $min-height) {
    // Ensure that loading an error states are also displayed properly:
    // this will end up pushing the close button to the bottom of the modal
    // container.
    display: flex;
    flex-direction: column;

    /**
     * Set an initial width/height for the modal to
     * accommodate potential loading state and avoid seeing
     * a modal that jumps in side between state transitions.
     *
     * Modal height is not fixed because minor vertical growth in
     * the modal size is more tolerable than not having
     * enough space when new content is added and styles are not
     * adjusted, especially given that the content is centered.
     */
    min-height: $min-height;

    /**
     * Handling width:
     *
     * on mobile screens, take up as much space as available and leave a bit of padding around
     * on desktop screens, take up a fixed amount of space.
     */
    width: 85vw;
    @include on-medium-screen() {
        width: $width;
    }

    /**
     * Assume that main-container is present.
     */
    &__main-container {
        min-width: 100%;
        margin-bottom: 0.5em;

        // Make sure that the error itself takes up the maximum space
        // and pushes the close button all the way down.
        flex-grow: 1;

        // Center content that does not fill up the whole space.
        display: flex;
        justify-content: center;
    }
}

.m-modal {
    position: fixed;
    top: 12vh;
    border: 1px solid $border-color-for-controls;
    border-radius: 5px;
    padding: 1.5em;

    /**
     * Used on Events page.
     */
    &__scheduled-appointment-details-modal-content {
        @include base-modal-content($width: 30em, $min-height: 15em);

        &__close-button {
            // close button is a container -> this pushes
            // the button to the right corner of the container
            display: flex;
            justify-content: flex-end;
        }
    }

    /**
     * Used on Appointments page.
     */
    &__appointment-diagnostic-data-modal-content {
        // This has a width close to the maximum width of the page content
        // due to a possibility of getting a lot of user-generated content
        // that has a potential for taking up a lot of space.
        @include base-modal-content($width: 40em, $min-height: 20em);

        &__main-container {
            // Limit maximum height of the container to avoid situations
            // where modal content might end up being outside of the viewfinder
            max-height: 30em;
            overflow: scroll;
        }

        &__close-button {
            display: flex;
            justify-content: flex-end;
        }
    }
}
