@mixin base-modal-content($width, $min-height) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /**
     * Set an initial width/height for the modal to
     * accomodate potential loading state and avoid seeing
     * a modal that jumps in side between state transitions.
     *
     * Modal height is not fixed because minor vertical growth in
     * the modal size is more tollerable than not having
     * enough space when new content is added and styles are not
     * adjusted, especially given that the content is centered.
     */
    width: $width;
    min-height: $min-height;

    /**
     * Assume that main-container is present.
     */
    &__main-container {
        min-width: 100%;
        margin-bottom: 0.5em;

        // Make sure that the error itself takes up the maximum space
        // and pushes the close button all the way down.
        flex-grow: 1;

        // Center content that does not fill up the whole space.
        display: flex;
        justify-content: center;
    }
}

.m-modal {
    position: fixed;
    top: 12vh;
    border: 1px solid $border-color-for-controls;
    border-radius: 5px;
    padding: 1.5em;

    /**
     * Used on Events page.
     */
    &__scheduled-appointment-details-modal-content {
        @include base-modal-content($width: 30em, $min-height: 15em);

        &__close-button {
            align-self: flex-end;
        }
    }

    /**
     * Used on Appointments page.
     */
    &__appointment-diagnostic-data-modal-content {
        @include base-modal-content($width: 30em, $min-height: 15em);

        &__close-button {
            align-self: flex-end;
        }
    }
}
