@import "../variables.scss";

.m-page-message {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        text-align: center;
        color: $full-screen-info-text-color;
        margin: 1em 0;
    }
}
