@import "../variables.scss";

.pikaday-custom-theme {
    // Top-level font and text color, container border.
    &.pika-single {
        font-family: $font-family;
        color: $primary-text-color;
        background: $primary-text-background-color;
        border: 1px solid $border-color-for-controls;
    }

    // Colors for the weekdays
    .pika-table th {
        color: $primary-text-color;
    }

    // Generic button styles.
    .pika-button {
        color: $primary-text-color;
        background: $primary-text-background-color;

        &:hover {
            background: $primary-color-focused;
            color: $primary-text-color;
        }
    }

    // Week selection hover highlight
    .pika-button:hover,
    .pika-row.pick-whole-week:hover .pika-button {
        background: $tertiary-color;
        color: $primary-text-color;
        border-radius: 0;
    }

    /**
     * Special buttons.
     */
    .is-today .pika-button {
        color: $primary-text-color;
    }

    .is-selected .pika-button {
        color: $primary-text-color;
        background: $primary-color;
        box-shadow: none;
        border-radius: 0;
        font-weight: normal;
    }

    .is-disabled .pika-button {
        color: $tertiary-color;
        opacity: 0.5;
    }

    .is-startrange .pika-button,
    .is-endrange .pika-button {
        background: $datepicker-range-boundary-background-color;
        color: $datepicker-range-boundary-text-color;
    }
}
