@import "../variables.scss";

.utility {
    &__centered-flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__bold-text {
        font-weight: bold;
    }

    &__text-color-success {
        color: $success-color;
    }

    &__text-color-error {
        color: $danger-color;
    }

    &__disable-scroll {
        overflow: hidden;
    }
}
