@import "variables";

.auth-content-wrap {
    display: flex;
    flex-flow: column nowrap;
}

.oauth2-button {
    height: 8em;

    margin: 2em auto;
    padding: 0 1.5em;

    @include breakpoint($medium-screen) {
        padding: 0 3em;
    }

    border: 1px solid $border-color-for-controls;

    background-color: transparent;

    .oauth2-button-content {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.75em;

        .oauth2-button-content-logo {
            height: 1.5em;
        }

        .oauth2-button-content-text {
        }
    }
}

.signout-message {
    font-size: 1.2em;
}
