.form-wrap {
    @include breakpoint($medium-screen) {
        @include span(3 of 9);
        margin: 0 auto;
    }
    margin: 0.5em 0;
}

.form-field {
    display: flex;
    flex-flow: row wrap;
    margin: 1.4em auto;
    &.submit-field {
        flex-flow: row-reverse nowrap;
        align-items: center;
        justify-content: space-between;
    }
}

.form-input-group {
    width: 100%;
    > input {
        @include box-sizing(border-box);
        @include rounded-border();
        @include set-font();
        padding: 0.5em;
        font-size: 16px;
        height:34px;
        width: 100%;
    }
}

.form-help {
    @include set-font();
    color: $danger-color;
}

.form-success {
    @include set-font();
    color: $success-color;
    margin-bottom: 0.25em;
}

.auth-form-wrap {
    max-width: 50em;
    padding: 1em;
    margin: 0 auto;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    .oauth2-link {
        text-decoration: none;
        color: $primary-text-color;
        font-size: 1.2em;
    }

    h1 {
        color: darken($tertiary-color, 50%);
        font-weight: normal;
    }

    h2 {
        color: darken($tertiary-color, 50%);
        font-weight: normal;
    }

    a {
        color: darken($primary-color, 25%);
        display: flex;
        justify-content: center;
        width: 100%;
        @include breakpoint($medium-screen) {
            width: auto;
        }
    }

    .oauth2-button-wrap {
        @include box-sizing(border-box);
        @include rounded-border();
        @include set-font();

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;

        width: 100%;
        @include breakpoint($medium-screen) {
            width: 22.5em;
        }

        > img {
            height: 1.5em;
            padding-right: 0.5em;
        }
    }
}
