
@import "variables";

@mixin rounded-border {
    @include border-radius (5px);
    border: 1px solid #ccc;
}

@mixin set-font {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin url {
    text-decoration: none;
    text-transform: lowercase;
}

@mixin button() {
    @include url();
    @include rounded-border();
    cursor: pointer;
    text-align: center;
}

@mixin destructive {
    @include breakpoint($medium-screen) {
        background-color: transparent;
        color: $danger-color;
    }
    background-color: $danger-color;
    color: $danger-text-color;

    &:hover {
        background-color: $danger-color;
        color: $danger-text-color;
    }
}

@mixin nondestructive {
    @include breakpoint($medium-screen) {
        background-color: transparent;
        color: darken($primary-color, 15%);
    }
    background-color: $primary-color;
    color: $primary-text-color;

    &:hover {
        color: $primary-text-color;
        background-color: $primary-color;
    }
}

@mixin set-react-select-selection-area-size($size) {
    > .Select-menu-outer {
        max-height: $size !important;
        > .Select-menu {
            max-height: $size !important;
        }
    }
}

@mixin mobile-vh($vh) {
  @media (max-device-aspect-ratio: 3/4) {
    height: 100vw * (1.333 * $vh / 100);
  }
  @media (max-device-aspect-ratio: 2/3) {
    height: 100vw * (1.5 * $vh / 100);
  }
  @media (max-device-aspect-ratio: 10/16) {
    height: 100vw * (1.6 * $vh / 100);
  }
  @media (max-device-aspect-ratio: 9/16) {
    height: 100vw * (1.778 * $vh / 100);
  }
  height: 100vh;
}
