@import "variables";
@import "mixins";

@mixin modal-header-text {
    @include set-font();
    font-size: 1.2em;
    @include breakpoint($medium-screen) {
        font-size: 1.5em;
    }
    padding: 0 10px;
    text-align: center;
    font-weight: 300;
}

.base-modal {
    @include rounded-border();
    @include clearfix();

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    background-color: $secondary-color;

     @include breakpoint($medium-screen) {
        max-width: 500px;
        max-height: 300px;
    }

    max-width: 300px;
    max-height: 300px;

    > h2 {
        @include modal-header-text();
    }

    > .buttons {
        @include clearfix();
        position:absolute;
        bottom: 0;
        width: 100%;

        > a {
            @include button();
            display: inline-block;
            padding: 10px;
            margin: 10px;
            width: 60px;
            font-weight: 400;

            &.destructive {
                @include destructive()
            }

            &.nondestructive {
                @include nondestructive()
            }

            &.action {
                float: left;
            }

            &.nonaction {
                float: right;
            }

        }
    }
}

.confirmation-modal {
    @extend .base-modal;

    @include breakpoint($medium-screen) {
        max-width: 475px;
        max-height: 200px;
    }

    max-width: 300px;
    max-height: 175px;
}

.scheduling-modal {
    @extend .base-modal;

    > .controls-wrapper {
        @include container();
        margin: 0 5px;
        @include breakpoint($medium-screen) {
            margin: 0 65px;
        }

        > textarea {
            @include set-font();
            @include rounded-border();
            font-size: 16px;
            padding: 4px;
            resize: none;
            margin: 6px auto;

            width: 97%;
            height: 40px;
            @include breakpoint($medium-screen) {
                width: 99%;
                height: 65px;
            }
        }

        > h2 {
            @include modal-header-text();
            padding: 3px 0 0 0;
            margin: 0;

            text-align: left;
            @include span(4 of 4);

            @include breakpoint($medium-screen) {
                text-align: right;
                @include span(2 of 4)
            }
        }

        > .Select {
            @include span (4 of 4 last);
            @include breakpoint($medium-screen) {
                @include span(2 of 4 last);
            }
            @include set-react-select-selection-area-size(120px);
        }
    }
}

.profile-form-modal {
    h2 {
        margin: 0 0.5em;
    }
    form > h2 {
        margin: 0;
    }

    .Select {
        @include set-react-select-selection-area-size(90px);
    }


    @include breakpoint($medium-screen) {
        h2 {
            margin: 1em;
        }
        form > h2 {
            margin: 0.2em 0;
        }

        .Select {
            @include set-react-select-selection-area-size(240px);
        }
    }
}

.loading-modal {
   @extend .base-modal;
   > .loading {
       margin: 128px auto;
       @include breakpoint($medium-screen) {
           margin: 128px auto;
       }
    }
}
