@import "variables";
@import "mixins";


@mixin input-group-wrap {
    margin: 0.25em 0;

    display: flex;
    align-items: center;
}

@mixin base-modal {
    background-color: $secondary-color;

    max-width: 30em;
    margin: 5vh auto;

    @include breakpoint($medium-screen) {
        margin: 25vh auto;
    }

    padding: 1.25em;
    @include rounded-border();

    display: flex;
    flex-flow: column wrap;

    .modal-title, .modal-subtitle {
        margin: 0.25em 0;
    }

    > .buttons-input-group-wrap {
        @mixin modal-button-border {
            padding: 10px;
            &:hover,&:focus {
                padding: 9px;
                @include rounded-border-enlarge;
            }
        }

        @include input-group-wrap();
        margin: 0.5em 0;
        justify-content: space-between;
        > button {
            font-size: 1em;

            @include button;
            @include modal-button-border;
            padding: 10px;
            width: 7.5em;

            &.destructive {
                @include destructive;

            }

            &.nondestructive {
                @include nondestructive;
            }
        }
    }
}

.message-modal {
    @include base-modal();

    > .message {
        overflow-wrap: break-word;
        font-size: 1em;

        @include breakpoint($medium-screen) {
            font-size: 1.6em;
        }
        margin: 0.25em 0;
    }
}

.scheduling-modal {
    @include base-modal;
    > .textarea-input-group {
        display: flex;
        flex-flow: column wrap;
        margin-top: 0.25em;

        > textarea {
            @include rounded-border();
            padding: 0.5em;
            margin: 0;

            resize: none;
        }
    }
}

.profile-form-modal {
    @include base-modal();

    > .edit-profile-form-wrap {
        width: auto;
    }

    form > h2 {
        margin: 0.25em 0;
    }

    form > .form-field {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        margin-bottom: 0;

        > label {
            flex: 1;
            padding-right: 0.75em;
        }

        > .form-input-group {
            flex: 3;
        }

        &.submit-field {
            margin: 0;
            min-height: 1.5em;
            justify-content: flex-end;
        }
    }
}

.loading-modal {
    @include base-modal();

    > .loading {
        margin: 6em auto;
    }
}

.confirmation-modal {
    @include base-modal();
}
