@import "variables";
@import "mixins";

nav {
    display: block;

    background-color: $secondary-color;
    border-bottom: 1px solid #eaeaea;

    @include breakpoint($medium-screen) {
        max-width: none;
        /* margin-bottom: 1.5em; */
    }

    a {
        display: block;
        padding: 0.5em;
        @include set-font();
        @include url();

        @include breakpoint($medium-screen) {
            display: inline-block;
            padding: 0.75em;
        }

        color: black;

        font-size: 1.2em;

        &:hover {
            background: $primary-color;
            font-weight: bold;
        }
        &.auth-link {
            @include breakpoint($medium-screen) {
                float: right;
            }
        }
    }
}