@import "variables";
@import "mixins";

nav {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid darken($tertiary-color, 25%);

    .nav-link {
        @include url();
        color: $primary-text-color;
        padding: 0.75em;

        &:hover,&:focus {
            background: $primary-color;
            font-weight: bold;
        }
    }
}
