@import "variables";

@mixin block-separator {
    $separator-color: darken($tertiary-color, 25%);
    border-bottom: 1px solid $separator-color;
}

@mixin home-entry-min-height {
    $home-entry-min-height-desktop: 30em;
    $home-entry-min-height-mobile: 25em;

    @include breakpoint($medium-screen) {
        min-height: $home-entry-min-height-desktop;
    }

    min-height: $home-entry-min-height-mobile;
}

.home {
    &__course-autocomplete-container {
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.home-header {
    display: flex;

    background-color: #1c1f21; // fallback for when there's no picture
    color: white;

    @include block-separator;

    @include home-entry-min-height;

    .home-header-overlay {
        flex: 1;

        display: flex;
        align-items: flex-start;
    }

    .home-header-block {
        padding: 0 1em;

        text-align: center;

        max-width: 30em;
        margin: 0 auto;
        margin-top: 4em;

        @include breakpoint($medium-screen) {
            font-size: 1.35em;
        }
    }

    .home-header-title {
        margin: 0;
    }
}

.schedule-appointment-button {
    padding: 1em;
    border: 1px solid $border-color-for-controls;

    font-size: 1em;
    background-color: $primary-color;

    max-width: 20em;
    min-width: 16em;

    @include breakpoint($medium-screen) {
        min-width: 20em;
    }

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $primary-color-focused;
        font-weight: bold;
    }

    transition: all 0.1s ease;
}

.home-content-container {
    display: flex;
    flex-flow: column nowrap;

    .locations-info {
        display: flex;
        flex-flow: column nowrap;

        padding: 0;
        margin: 0;

        list-style: none;
    }

    .locations-info-location-container {
        display: flex;

        &:not(:last-child) {
            @include block-separator;
        }

        @include home-entry-min-height;

        @mixin location-info-line {
            color: $secondary-color;
            margin: 0;

            text-align: center;
        }

        .name {
            @include location-info-line;
        }
        .description {
            @include location-info-line;
        }
        .location-info-link {
            @include location-info-line;
        }
        .contact-info {
            margin-top: 0.5em;

            .address {
                @include location-info-line;
            }
            .phone {
                @include location-info-line;
            }
            .email {
                @include location-info-line;
            }
        }
    }

    .location-info-location-overlay {
        display: flex;
        justify-content: center;

        width: 100%;
    }

    .location-info-location-data {
        flex: 1;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        padding: 0.5em;

        max-width: 30em;

        @include breakpoint($medium-screen) {
            font-size: 1.25em;
        }
    }
}
