@import "variables";

.home-header {
    display: flex;

    background-color: #1c1f21; // TODO: Remove when header background image is added
    color: white;

    height: 25em;

    .home-header-overlay {
        flex: 1;

        display: flex;
        align-items: center;

        @include breakpoint($medium-screen) {
            align-items: flex-start;
        }
    }

    .home-header-block {
        padding: 0 1em;

        max-width: 20em;
        margin: 0 auto;

        @include breakpoint($medium-screen) {
            padding-top: 2em;

            font-size: 1.25em;
        }
    }

    .home-header-title {
        margin: 0;
    }
}

.schedule-appointment-button {
    padding: 1em;
    border: 1px solid $tertiary-color;

    font-size: 1em;
    background-color: $primary-color;

    max-width: 20em;
    min-width: 16em;

    @include breakpoint($medium-screen) {
        min-width: 20em;
    }

    cursor: pointer;

    &:hover, &:focus {
        background-color: darken($primary-color, 16%);
        font-weight: bold;
    }

    transition: all 0.1s ease;
}

.home-content-container {
    display: flex;
    flex-flow: column nowrap;

    .locations-info {
        display: flex;
        flex-flow: column nowrap;

        padding: 0;
        margin: 0;

        list-style: none;
    }

    .locations-info-location-container {
        display: flex;

        @mixin location-info-line {
            color: $secondary-color;
            margin: 0;

            text-align: center;
        }

        .name { @include location-info-line; }
        .description { @include location-info-line; }
        .location-info-link { @include location-info-line; }
        .contact-info {
            margin-top: 0.5em;

            .address { @include location-info-line; }
            .phone { @include location-info-line; }
            .email { @include location-info-line; }
        }
    }

    .location-info-location-overlay {
        display: flex;
        justify-content: center;

        width: 100%;
    }

    .location-info-location-data {
        flex: 1;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        padding: 0.5em;

        max-width: 30em;

        @include breakpoint($medium-screen) {
            font-size: 1.25em;
        }
    }
}
