@import "variables";
@import "mixins";

$gutter-size: 0.75em;

.locations-info {
    display: flex;
    flex-flow: column nowrap;

    padding: 1em;
    padding-top: 0;

    margin: 0;

    list-style: none;

    @include breakpoint($medium-screen) {
        flex-flow: row wrap;
        justify-content: space-around;

        padding-top: 1em;
    }
}

.locations-info-location-container {
    margin: 1em 0;

    @mixin location-info-line {
        color: darken($tertiary-color, 70%);
        margin: 0;
    }

    @include breakpoint($medium-screen) {
        margin: 1em;
        flex: 1;
        max-width: 20em;
    }

    .name {
        @include location-info-line;
    }

    .description {
        @include location-info-line;
    }

    .location-info-link {
        color: $primary-text-color;
    }

    .contact-info {
        margin-top: 0.5em;

        .address {
            @include location-info-line;
        }
        .phone {
            @include location-info-line;
        }
        .email {
            @include location-info-line;
        }
    }
}

.show-schedule-controls {
    display: flex;
    align-items: center;

    flex-flow: column wrap;

    @include breakpoint($medium-screen) {
        flex-flow: row nowrap;
        .column:not(:last-child) {
            margin-right: 0.5em;
        }
        .column:last-child {
            margin-left: 0.5em;
        }
    }

    .column {
        width: 100%;
    }

    .input-group {
        flex: 1;
        width: 100%;
        padding-bottom: 0.25em;

        .select-filter-error {
            @include rounded-border-enlarge;
            border-color: $danger-color;
        }

        .select-filter-empty {
            color: #aaa;
        }

        > .dual-datepicker-wrap {
            $datepicker-height: 34px;

            .react-datepicker__input-container {
                > input {
                    @include input;
                }

                width: 50%;
                height: $datepicker-height;
            }
        }
    }
}

.react-datepicker {
    @include set-font();
}

.react-datepicker__day--in-range {
    background-color: $primary-color;
    color: black;
    &:hover,&:focus {
        background-color: darken($primary-color, 15%);
    }
}

.react-datepicker__header {
    background-color: $tertiary-color;
}

.react-datepicker__week {
    &:hover,&:focus {
        background-color: darken($tertiary-color, 4%);
    }
}


.open-spots-message {
    @include breakpoint($medium-screen) {
        margin: 15vh auto;
    }

    > h1 {
        color: darken($tertiary-color, 32%);
        font-weight: 400;

        @include breakpoint($medium-screen) {
            max-width: 20em;
            margin: 0 auto;
            text-align: center;
        }
    }

    > .loading {
        margin: 1em auto;
        @include breakpoint($medium-screen) {
            margin: 15vh auto;
        }
    }
}

.open-spots-display {
    > .weekday {
        display: flex;
        flex-flow: column nowrap;

        @include breakpoint($medium-screen) {
            @include gallery(4 of 12);
        }


        > p {
            text-align: center;
        }

        @mixin spot() {
            @include rounded-border();
            text-align: center;
            text-decoration: none;
            padding: 0.5em;
            margin-bottom: 0.5em;
            font-size: 16px;
        }

        > .open-spot {
            @include spot();
            cursor: pointer;
            background-color: $primary-color;
            color: $primary-text-color;

            &:hover,&:focus {
                background-color: darken($primary-color, 15%);
            }
        }

        > .closed-spot {
            @include spot();
            cursor: not-allowed;
            background-color: $danger-color;
            color: $danger-text-color;
        }

        > .expired-spot {
            @include spot();
            cursor: not-allowed;
            background-color: $tertiary-color;
            color: lighten($primary-text-color, 64%);
        }
    }
}

.edit-profile-form-wrap {
    @include breakpoint($medium-screen) {
        @include span(4 of 8 last);
    }
}

.next-appointment-wrap {
    @include breakpoint($medium-screen) {
        @include span(4 of 8);
    }

    > .next-appointment {
        @include clearfix();
        > p {
            font-size: 1.2em;
            font-weight: 500;
        }

        > a {
            @include button();
            @include destructive();
            display: inline-block;
            padding: 10px;
            width: 180px;

            margin-bottom: 20px;
            font-weight: 400;
        }
    }

    > .faq {
        > ul {
            list-style-type: none;
            padding-left: 0;

            > li {
                > .question {
                    font-weight: 600;
                    margin-bottom: 0;
                }

                > .answer {
                    padding-left: 20px;
                    margin-top: 0;
                }
            }
        }
    }
}
