@import "variables";
@import "mixins";

.sidebar {
    .sidebar-container {
        display: flex;
        flex-flow: row wrap;

        list-style: none;

        margin: 1em;
        margin-top: 0;
        margin-left: 0;

        padding: 0;
    }

    .sidebar-item {
        display: flex;

        @include rounded-border();

        margin-right: 0.5em;

        &:hover, &:focus, &.selected {
            background: $primary-color;
            font-weight: bold;
        }
    }

    .sidebar-link {
        flex: 1;

        padding: 0.5em;

        @include url();
        color: $primary-text-color;
    }
}
