@import "variables";
@import "mixins";

@mixin in-focus() {
    background: $primary-color;
    font-weight: bold;
}

.sidebar {
    .sidebar-container {
        display: flex;
        flex-flow: row wrap;

        list-style: none;

        margin: 0.5em 0;
        padding: 0;
    }

    .sidebar-item {
        display: flex;

        @include rounded-border();

        margin-right: 0.5em;
        margin-bottom: 0.5em;

        &.selected {
            @include in-focus();
        }
    }

    .sidebar-link {
        color: $primary-text-color;
        padding: 0.5em;
        // Setting an explicit border radius instead of using rounded-border mixin
        // because using it ends up doubling down on the border width and not setting
        // border-radius on the link ends up showing the corners of the link
        // on hover/focus states overlapping the rounded border of the .sidebar-item
        border-radius: 5px;

        flex: 1;
        text-align: center;

        @include url();

        &:hover,
        &:focus {
            @include in-focus();
        }

        @include reserve-space-for-bold-text;
    }
}
