@import "~susy/sass/susy";
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~compass-mixins/lib/compass";

$susy: (
    colums: 12,
    container: 960px,
    global-box-sizing: border-box
);


$medium-screen: 700px;
$small-screen-width: 480px;

.wrap {
    @include container();
}

.content {
    margin: 0 auto;

    h2 {
        margin: 0;
    }

    @include breakpoint($medium-screen) {
        @include span(9 of 12 last nest); // This container will contain nested things
    }
}

.sidebar {
    background-color: #fafafa;
    @include clearfix();

    @include breakpoint($medium-screen) {
        @include span(3 of 12);
        height: 100vh;
    }
}

.form-wrap {
    @include breakpoint($medium-screen) {
        @include span(3 of 9);
    }

    max-width: $small-screen-width;
    /* margin: 1em auto; */

    input, select {
        @include box-sizing(border-box);
        width: 100%;
    }

    .form-field {
        margin: 1em auto;
        /* @include clearfix(); */
    }

    .form-help {
        @include float-right();
    }
}

.list-wrap {
    @include breakpoint($medium-screen) {
        @include span(6 of 9 last);
    }

    max-width: $small-screen-width;
    margin: 0 auto;

    th {
        display: none;

        @include breakpoint($medium-screen) {
            display: table-cell;
            text-align: left;
        }
    }

    td {
        display: block;
        @include breakpoint($medium-screen) {
            display: table-cell;
        }


        &:before {
            content: attr(data-header)": ";
            font-weight: bold;
            display: inline-block;

            @include breakpoint($medium-screen) {
                content: "";
            }
        }

        &:last-child {
            padding-bottom: 1em;

            @include breakpoint($medium-screen) {
                padding: 0.5em;
            }
        }

    }
}

.list-controls-wrap {
    max-width: $small-screen-width;
    margin: 0 auto;

    @include breakpoint($medium-screen) {
        @include span(3 of 9);
    }

    select {
        @include box-sizing(border-box);
        width: 100%;
    }

}

@mixin rounded-border {
    @include border-radius (5px);
    border: 2px solid darken(white, 10%);
}

$button-color: #ececec;
$button-text-color: #000;

.button {
    background: $button-color;
    color: $button-text-color;
    padding: 0.5em;
    width: 145px;
    @include rounded-border();
    @include float-right();
}
