@import "~susy/sass/susy";
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~compass-mixins/lib/compass";

@import "variables";
@import "mixins";
@import "scheduling-app";
@import "forms";
@import "auth";
@import "modal";
@import "nav";
@import "sidebar";
@import "managing-app";
@import "root-app";
@import "announcement";

$susy: (
    colums: 12,
    container: 50em,
    global-box-sizing: border-box,
);

body {
    @include set-font();
    margin: 0;
}

.wrap {
    @include container();
    padding: 1em;
}

.main-content {
    display: flex;
    justify-content: center;
}

.content {
}

.page-section {
    outline: 0;

    @include on-medium-screen {
        // Adds visual focus on page content for medium screens
        // which is helpful when skip links are used and would
        // probably be confusing in mobile environments.
        &:focus {
            animation: primaryColorFade 0.75s forwards;
        }

        // This ensures that the focus indication captures the whole page
        // and does not produce a scroll bar by subtracting the height of
        // the nav bar.
        min-height: calc(100vh - 3em);

        @keyframes primaryColorFade {
            from {
                background: $primary-color;
            }
            to {
                background: transparent;
            }
        }
    }
}

select {
    @include input;
    @include select-input-override-browser-styling($color: black);

    &:disabled {
        @include select-input-override-browser-styling($color: #b5b5b5);
    }
}

.clearfix {
    @include clearfix;
}

.color-icon {
    @include rounded-border();
    @include inline-block();
    margin-right: 2px;
    height: 18px;
    width: 18px;
}

.right-col {
    margin: 0 auto;
    @include breakpoint($medium-screen) {
        @include span(6 of 9 last);
    }
}

.row {
    @include breakpoint($medium-screen) {
        margin: auto;
        @include span(8 of 9 nest);
    }
}

.weekday-wrap {
    @include breakpoint($medium-screen) {
        @include span(4 of 8);
        &:nth-child(even) {
            @include span(4 of 8 last);
        }
    }

    h2 {
        font-weight: 300;
        padding: 0.5em 0;
    }
}

.list-wrap {
    table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #eaeaea;
    }

    th {
        @include set-font();
        display: none;
        background: $tertiary-color;
        border-bottom: 1px solid #eaeaea;
        padding: 0.25em;
        @include breakpoint($medium-screen) {
            display: table-cell;
            text-align: left;
        }
    }

    tr {
        border: 1px solid $border-color-for-controls;

        @include breakpoint($medium-screen) {
            border: none;
            border-bottom: 1px solid #eaeaea;
            border-top: 1px solid #eaeaea;
        }

        &:nth-child(even) {
            background: lighten($tertiary-color, 20%);
        }
    }

    td {
        @include set-font();
        display: block;
        padding: 0.25em;
        border-bottom: 1px solid #eaeaea;
        border-top: 1px solid #eaeaea;

        @include breakpoint($medium-screen) {
            display: table-cell;
        }

        &:before {
            content: attr(data-header) ": ";
            font-weight: bold;

            @include breakpoint($medium-screen) {
                content: "";
            }
        }

        &.table-action:before {
            content: "";
        }

        &.table-action {
            border: none;
            @include breakpoint($medium-screen) {
                width: 50px;
                text-align: center;
            }

            &.action-confirmation-required {
                font-weight: bold;
                @include rounded-border;
                background-color: $tertiary-color;
                .action-text {
                    color: $danger-color;
                    &:hover,
                    &:focus {
                        color: $danger-color;
                    }
                }
            }

            .action-text {
                @include set-font();
                @include url();
                font-size: 1em;
                border: none;
                background-color: transparent;

                padding: 0.2em;
                color: black;
                cursor: pointer;
                &:hover,
                &:focus {
                    color: $primary-color-focused;
                    text-decoration: underline;
                }
            }
        }

        &:last-child {
            padding-bottom: 1em;

            @include breakpoint($medium-screen) {
                padding: 0.5em;
            }
        }
    }
}

.list-controls-wrap {
    margin: 0 auto;

    @include breakpoint($medium-screen) {
        @include span(4 of 12);
    }

    select {
        @include box-sizing(border-box);
        width: 100%;
    }
}

.button {
    color: black;
    padding: 0.5em;
    width: 145px;
    @include rounded-border();
    @include set-font();
    font-size: 16px;

    .form-wrap & {
        @include float-right();
        @include clearfix();
        @include breakpoint($medium-screen) {
            @include clearfix();
        }
    }
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 50em;
}

.loading {
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    $size: 24px;
    $spin-duration: 0.5s;
    border-radius: 50%;
    width: $size;
    height: $size;
    border: 0.25rem solid $primary-color;
    border-top-color: $primary-color-focused;
    animation: spin $spin-duration infinite;
}

.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    li a {
        color: $primary-color-focused;
        background-color: #fff;
        display: block;

        left: -999999999999px;
        padding: 0.5em;
        margin-top: 0.5em;
        position: absolute;
        @include rounded-border;

        &:focus {
            left: 0;
        }
    }
}
