@import "~susy/sass/susy";
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~compass-mixins/lib/compass";

@import "variables";
@import "mixins";
@import "scheduling-app";
@import "forms";
@import "modal";
@import "nav";
@import "sidebar";
@import "managing-app";

$susy: (
    colums: 12,
    container: 1040px,
    global-box-sizing: border-box
);

body {
    @include set-font();
    margin: 0;
}

.wrap {
    @include container();
    padding: 1em;
}

.content {
    @include breakpoint($medium-screen) {
        max-width: none;
    }

    h2 {
        margin: 0;
        @include set-font();
        font-weight: 300;
    }

    @include breakpoint($medium-screen) {
        @include span(9 of 12 last nest); // This container will contain nested things
    }

    h1 {
        color: darken($tertiary-color, 32%);
        font-weight: 400;
    }

    .loading {
        margin: 1.5em auto;
    }
}

select {
    @include input;
}

.clearfix {
    @include clearfix;
}


.color-icon {
    @include rounded-border();
    @include inline-block();
    margin-right: 2px;
    height: 18px;
    width: 18px;
}

.right-col {
    margin: 0 auto;
    @include breakpoint($medium-screen) {
        @include span(6 of 9 last);
    }
}

.row {
    @include breakpoint($medium-screen) {
        margin: auto;
        @include span(8 of 9 nest);
    }
}

.weekday-wrap {
    @include breakpoint($medium-screen) {
        @include span(4 of 8);
        &:nth-child(even) {
            @include span(4 of 8 last);
        }
    }

    h2 {
        font-weight: 300;
        padding: 0.5em 0;
    }
}

.list-wrap {
    table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #eaeaea;
    }

    th {
        @include set-font();
        display: none;
        background: $tertiary-color;
        border-bottom: 1px solid #eaeaea;
        padding: 0.25em;
        @include breakpoint($medium-screen) {
            display: table-cell;
            text-align: left;
        }
    }

    tr {
        border: 1px solid darken($tertiary-color, 32%);

        @include breakpoint($medium-screen) {
            border: none;
            border-bottom: 1px solid #eaeaea;
            border-top: 1px solid #eaeaea;
        }




        &:nth-child(even) {
            background: darken($tertiary-color, 5%);

            @include breakpoint($medium-screen) {
                background: $tertiary-color;
            }

        }
    }

    td {
        @include set-font();
        display: block;
        padding: 0.25em;
        border-bottom: 1px solid #eaeaea;
        border-top: 1px solid #eaeaea;

        @include breakpoint($medium-screen) {
            display: table-cell;
        }

        &:before {
            content: attr(data-header)": ";
            font-weight: bold;

            @include breakpoint($medium-screen) {
                content: "";
            }
        }

        &.table-action:before {
            content: "";
        }

        &.table-action {
            border: none;
            @include breakpoint($medium-screen) {
                width: 50px;
                text-align: center;
            }

            &.action-confirmation-required {
                font-weight: bold;
                @include rounded-border;
                background-color: $tertiary-color;
                .action-text {
                    color: $danger-color;
                    &:hover,&:focus {
                        color: $danger-color;
                    }
                }
            }

            .action-text {
                @include set-font();
                @include url();
                font-size: 1em;
                border: none;
                background-color: transparent;

                padding: 0.2em;
                color: black;
                cursor: pointer;
                &:hover,&:focus {
                    color: darken($primary-color, 50%);
                    text-decoration: underline;
                }
            }
        }

        &:last-child {
            padding-bottom: 1em;

            @include breakpoint($medium-screen) {
                padding: 0.5em;
            }
        }

    }
}

.list-controls-wrap {
    margin: 0 auto;

    @include breakpoint($medium-screen) {
        @include span(4 of 12);
    }

    select {
        @include box-sizing(border-box);
        width: 100%;
    }

}

.button {
    background: $tertiary-color;
    color: black;
    padding: 0.5em;
    width: 145px;
    @include rounded-border();
    @include set-font();
    font-size: 16px;

    .form-wrap & {
        @include float-right();
        @include clearfix();
        @include breakpoint($medium-screen) {
            @include clearfix();
        }
    }
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
}

.hero {
    position: relative;
    @include breakpoint($medium-screen) {
        height: calc(74vh - 56px);
    }
    @include mobile-vh(100);

    @include clearfix();
    &:before {
        @include breakpoint($medium-screen) {
            height: 100vh;
        }
        @include mobile-vh(100);
        text-align: center;

        @include filter(blur(1px));
        background: $primary-color url('../assets/hero_lowres.jpg') no-repeat center center;
        background-size: cover;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .hero-content {
        $hero-font-color: darken($tertiary-color, 2%);

        @include clearfix();
        @include border-radius(8px);

        white-space: nowrap;

        background-color: rgba(black, 0.6);
        padding: 20px;

        margin: 20% 5%;
        @include breakpoint($medium-screen) {
            width: span(4 of 12);
            margin: 7% 10%;
        }

        h1, h2, a {
            @include set-font();
            color: $hero-font-color;
            margin: 15px auto;
        }

        h1 {
            @include breakpoint($medium-screen) {
                font-size: 3.2vw;
            }
            font-size: 1.8em;
            display: block;
        }

        h2 {
            font-size: 1.55em;
        }

        div {
            text-align: right;
        }
        
        a {
            @include button;
            @include nondestructive;
            @include text-shadow(black 0 0 0);
            display: inline-block;
            padding: 14px;
        }
    }
}

.section-home {
    background-color: #fff;
    @include clearfix();

    @include breakpoint($medium-screen) {
        @include container();
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin: 0;
        font-weight: 300;
        padding-top: 0.5em;
        text-align: center;
    }

    > .section-home-item {
        background-color: #fff;
        $section-item-width: 325px;
        max-width: $section-item-width;
        margin: 1em auto;
        padding: 2.7em 0;
        @include border-radius(5px);

        @include breakpoint($medium-screen) {
            @include span(4 of 12 split)
        }

        $text-color-section-item: darken($primary-color, 25%);
        > .fa-wrap {
            width: 80px;
            margin: 0 auto;
            > i {
                color: $text-color-section-item;
            }
        }
        > p {
            text-align: center;
            font-weight: 600;
            color: $text-color-section-item;
        }
    }
}

.info-home {
    @include clearfix();
    padding-top: 2em;
    background-color: $danger-color;

    .fa-wrap {
        width: 80px;
        margin: 0 auto;
    }

    i, p, h1, a {
        color: $tertiary-color;
    }
    p, h1 {
        text-align: center;
    }

    > div {
        max-width: 500px;
        margin: 0 auto;
    }
}

.loading {
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    $size: 24px;
    $spin-duration: 0.5s;
    border-radius: 50%;
    width: $size;
    height: $size;
    border: .25rem solid $primary-color;
    border-top-color: darken($primary-color, 15%);
    animation: spin $spin-duration infinite;
}
